*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*poner variables de colores*/
/*poner canvas a los márgenes con animaciones*/

body{
    background-color: #f3efef;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.contenedor-canvas{
    width: 96%;
    max-width: 1000px;
    height: 100vh;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor{
    width: 90%;
    max-width: 800px; /*fijarse de incrementar la columna de fotos*/
    height: 100vh;
    margin: auto;
    border: 2px solid rgb(98, 0, 255);
}

/*--------------------------------------------------------------------------HEADER---------------------------*/
header{
    padding: 40px 0;
}

header .logo{
    text-align: center;
    margin-bottom: 40px;
}

header .logo .img-logo{
    width: 100px;
}

header .logo p{
    color: #9b9b9b;
}

header form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .barra-busqueda{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categorias a{
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .categorias a.activo{
    color: #000;
}

/*--------------------------------------------------------------------------canvas-----------------------*/
.board1{
    background-color: pink;
    border: 1px solid blueviolet;
    height: 100vh;
    
}

.board2{
    background-color: orange;
    border: 1px solid royalblue;
    height: 100vh;
}